.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 70%;
    height: 100%;
    background-color: #f5f5f5;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.itemLabel {
    font-size: 12px;
    margin-bottom: 0;
}

.itemData {
    font-size: 25px;
    margin-top: 0;
}

.stackContainer {
    text-align: left;
    margin-right: 10px;
}

.itemContainer {
    margin-bottom: 0;
}

.editButton {
    background-color: #16484F;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    align-self: start;
    /* margin-top: -110px; */
}

.interest {
    background-color: #16484F;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    margin-top: 10px;
    margin-right: 10px;
}

.delete {
    background-color: #8B2635;
    border-radius: 10px;
    color: white;
    padding: 1px 10px;
    /* margin-top: 10px; */
    margin-left: 10px;
    margin-right: -10px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    /* margin-top: -50px; */
}