.container {
    position:relative;
    border-radius: 50%;
    background-color: rgba(124, 157, 132, 0.4);
    color: black;
    padding:0;
    /* text-align: left; */
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
}

.owner-container:hover {
    cursor:pointer;
    background-color: gray;
    background-image: url(../assets/img-photo.png) !important;
}


.university {
    position:absolute;
    bottom:0;
    font-size: 20px;
    font-weight: bold;
    color: #7C9D84;
    margin-top: 10px;
    width:100%;
    margin-bottom:0.5rem;
}

.name {
    margin-bottom: 0;
}
